<header class="header">
  <div class="container">
    <a class="logo">
      <img class="logofarm" src="../../assets/farmLogo.png" alt="img" /> Smart Farming
    </a>
    <nav class="nav">
     
      <a
        class="nav-link"
        *ngIf="!(authService.isLoggedIn$ | async)"
        [routerLink]="['/login-user']"
      >
        <fa-icon [icon]="['fas', 'user']"></fa-icon> User Login
      </a>
      <a
        class="nav-link"
        *ngIf="!(authService.isLoggedIn$ | async)"
        [routerLink]="['/login-admin']"
      >
        <fa-icon [icon]="['fas', 'user-shield']"></fa-icon> Admin Login
      </a>

    
      <a *ngIf="authService.isLoggedIn$ | async" class="nav-link" (click)="authService.logout()">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon> Logout
      </a>

    
      <div class="user" *ngIf="authService.isLoggedIn$ | async">
        <div class="user-name">{{ authService.username$ | async  }}</div>
      </div>
    </nav>
  </div>
</header>
