<header class="header">
  <div class="container">
    <a class="logo">
      <img class="logofarm" src="../../assets/farmLogo.png" alt="img" /> Smart Farming System
    </a>
    <nav class="nav">
      <!-- Display login links if neither user nor admin is logged in -->
      <a
        class="nav-link"
        *ngIf="!(authService.isLoggedIn$ | async) && !(adminService.adminLoggedIn$ | async)"
        [routerLink]="['/login-user']"
      >
        <fa-icon [icon]="['fas', 'user']"></fa-icon> User Login
      </a>
      <a
        class="nav-link"
        *ngIf="!(authService.isLoggedIn$ | async) && !(adminService.adminLoggedIn$ | async)"
        [routerLink]="['/login-admin']"
      >
        <fa-icon [icon]="['fas', 'user-shield']"></fa-icon> Admin Login
      </a>

      <!-- Display logout link if the user or admin is logged in -->
      <!-- <a *ngIf="(authService.isLoggedIn$ | async)" class="nav-link" (click)="logout()">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon> Logout
      </a> -->
      <a *ngIf="(adminService.adminLoggedIn$ | async)" class="nav-link" (click)="login()">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon> Logout
      </a>

      <!-- Display user details with hover effect to show profile -->
      <div class="user" *ngIf="authService.isLoggedIn$ | async">
        <div 
          class="user-name" 
          (mouseenter)="showProfileCard()" 
          (mouseleave)="hideProfileCard()"
        >
          {{ authService.username$ | async }}
          <img src="../../assets/user.png" alt="profile" class="img">
        </div>
        <app-profile-card *ngIf="showProfile"></app-profile-card>
      </div>
      

      <!-- Display admin details if admin is logged in -->
      <div class="admin" *ngIf="adminService.adminLoggedIn$ | async">
        <div class="user-name" [routerLink]="['/dash-board-admin']">Admin <img src="../../assets/user.png" alt="profile" class="img"></div>
      </div>
    </nav>
  </div>
</header>
