<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="input-data">
      <input type="text" id="username" [(ngModel)]="credentials.username" name="username" required />
      <label for="username">Username</label>
    </div>

    <div class="input-data">
      <input type="password" id="password" [(ngModel)]="credentials.password" name="password" required />
      <label for="password">Password</label>
    </div>

    <div class="input-data">
      <button type="submit" class="btn-submit">Login</button><br/><br/>
      <button type="button" class="btn-clear" (click)="onClear()">Clear</button> <!-- Clear Button -->
    </div>
  </form>

  <div class="register-link">
    <p>Don't have an account? 
      <a [routerLink]="['/register-user']">Register here</a>
    </p>
  </div>
</div>
