<section class="farm-details">
<div class="container" *ngIf="farm">
    <h2>Farm Details</h2>
  
    <div class="card">
      <div class="image">
        <img src="../../assets/imgfrm.jpg" alt="Farm Image">
      </div>
      <p><strong>Name:</strong> {{ farm.name }}</p>
      <p><strong>Area:</strong> {{ farm.area }} hectares</p>
      <p><strong>Soil Type:</strong> {{ farm.soilType }}</p>
      <p><strong>Crop Name:</strong> {{ farm.cropName }}</p>
      <p><strong>Status:</strong> {{ farm.status }}</p>
      <p><strong>Farm Size:</strong> {{ farm.farmSize }}</p>
      <!-- <p><strong>Description:</strong> {{ farm.description }}</p>
      <p><strong>Address:</strong> {{ farm.address }}</p>
      <p><strong>Location:</strong> {{ farm.latitude }}, {{ farm.longitude }}</p> -->
    </div>
  
    <div class="button-group">
      <button (click)="goBack()" class="btn back-btn">Back to Farm List</button>
      <button (click)="viewSensorDetails()" class="btn sensor-btn">Sensor Details</button>
    </div>
</div>
</section>