<div class="container">
  <h2>User Management</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">User ID</div>
      <div class="col col-2">Full Name</div>
      <div class="col col-3">Email</div>
      <div class="col col-4">Actions</div>
    </li>
    <li class="table-row" *ngFor="let user of users">
      <div class="col col-1" data-label="User ID">{{ user.id }}</div>
      <div class="col col-2" data-label="Full Name">{{ user.fullName }}</div>
      <div class="col col-3" data-label="Email">{{ user.email }}</div>
      <div class="col col-4" data-label="Actions">
        <button (click)="deleteUser(user.id)" class="deleteUser">Delete</button>
      </div>
    </li>
  </ul>
</div>
