/* 
.dashboard-container {
    
    height: 100vh; 
  }
  .main-content {
    flex-grow: 1; 
    background-color: #F5F5F5; 
    transition: margin-left 0.3s; 
  }
  
  
   */

   .dashboard-container {
    display: flex;
    height: 100vh; 
    flex-direction: row; 
  }
  
  .dashboard-navbar {
    width: 250px; 
  }
  
  .main-content {
    flex-grow: 1; 
    background-color: #F5F5F5;
    transition: margin-left 0.3s;
  }
  