<section class="user-farm-list">
<div class="container">
  <h2>Farm List</h2>

  <div class="card-container">
    <div *ngFor="let farm of farms" class="card">
      <div class="card-content">
        <div class="image">
          <img src="../../assets/imgfrm.jpg" alt="Farm Image">
        </div>
        <p><strong>Name:</strong> {{ farm.name }}</p>
        <p><strong>Area:</strong> {{ farm.area }} hectares</p>
      </div>
      <div class="bottomCard">
        <button (click)="navigateFarmdetails(farm.farmId)" class="btn">View Details</button>
      </div>
    </div>
  </div>
</div>
</section>