<header>
    <div class="overlay">
        <h1>User DashBoard</h1>
    </div>
</header><br/><br/>
<!-- <div class="dashboard">
  <h2>Farm Size Overview</h2>

  <div class="farm-size-container">
    <div class="farm-card small">
      <h3>Small Farms</h3>
      <p>{{ smallFarms }}</p>
    </div>

    <div class="farm-card medium">
      <h3>Medium Farms</h3>
      <p>{{ mediumFarms }}</p>
    </div>

    <div class="farm-card large">
      <h3>Large Farms</h3>
      <p>{{ largeFarms }}</p>
    </div>
  </div>
</div> -->
