@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.name{
    color: white;
    background-color:#96be25;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30%;
}