<nav class="nav__cont">
  <ul class="nav">
    <li class="nav__items">
      <fa-icon [icon]="faHome" class="svg"></fa-icon>
      <a routerLink="/home">Home</a>
    </li>
    <li class="nav__items">
      <fa-icon [icon]="faUser" class="svg"></fa-icon>
      <a routerLink="/user-profile">Account</a>
    </li>
    <li class="nav__items">
      <fa-icon [icon]="faTractor" class="svg"></fa-icon>
      <a routerLink="/user-farm-list">Farms</a>
    </li>
    <li class="nav__items">
      <fa-icon [icon]="faSeedling" class="svg"></fa-icon>
      <a routerLink="/crop-health">Crop Health</a>
    </li>
    <li class="nav__items">
      <fa-icon [icon]="faLeaf" class="svg"></fa-icon>
      <a routerLink="/crop-recomendation">Crop    Recomment</a>
    </li>
    <li class="nav__items">
      <fa-icon [icon]="faCog" class="svg"></fa-icon>
      <a routerLink="/settings">Settings</a>
    </li>
    <li class="nav__items">
      <fa-icon [icon]="faSignOutAlt" class="svg"></fa-icon>
      <a routerLink="/logout">Logout</a>
    </li>
  </ul>
</nav>
<div class="wrapper">
  <main>
    <!-- Main content goes here -->
  </main>
</div>
