<form (ngSubmit)="submitForm()">
  <div>
    <label for="temperature"><i class="fas fa-thermometer-half icon"></i>Temperature:</label>
    <input type="number" [(ngModel)]="temperature" name="temperature" placeholder="Enter temperature (°C)" required>
  </div>
  <div>
    <label for="humidity"><i class="fas fa-tint icon"></i>Humidity:</label>
    <input type="number" [(ngModel)]="humidity" name="humidity" placeholder="Enter humidity (%)" required>
  </div>
  <div>
    <label for="nitrogen"><i class="fas fa-leaf icon"></i>Nitrogen:</label>
    <input type="number" [(ngModel)]="nitrogen" name="nitrogen" placeholder="Enter nitrogen (kg/ha)" required>
  </div>
  <div>
    <label for="phosphorus"><i class="fas fa-leaf icon"></i>Phosphorus:</label>
    <input type="number" [(ngModel)]="phosphorus" name="phosphorus" placeholder="Enter phosphorus (kg/ha)" required>
  </div>
  <div>
    <label for="potassium"><i class="fas fa-leaf icon"></i>Potassium:</label>
    <input type="number" [(ngModel)]="potassium" name="potassium" placeholder="Enter potassium (kg/ha)" required>
  </div>
  <button type="submit">Get Recommendation</button>
</form>

<!-- Display loading indicator -->
<div *ngIf="loading" class="loading">Loading...</div>
<div *ngIf="errorMessage" [ngStyle]="{'color': 'red'}" class="error">
  <h3>{{ errorMessage }}</h3>
</div>
<!-- Display recommended crop -->
<div *ngIf="recommendedCrop" class="result">
  <h3>Recommended Crop: {{ recommendedCrop }}</h3>
</div>
